options {
    directory "/var/cache/bind";
    recursion yes;
    allow-recursion { any; };
    listen-on { any; };
    allow-transfer { none; };

    forwarders {
{% for forwarder in dns_forwarders %}
        {{ forwarder }};
{% endfor %}
    };

    dnssec-validation auto;
    auth-nxdomain no;
    listen-on-v6 { any; };
};