$TTL 86400
@   IN  SOA     {{ inventory_hostname }}.{{ dns_domain }}. admin.{{ dns_domain }}. (
        2023040101  ; Serial
        3600        ; Refresh
        1800        ; Retry
        604800      ; Expire
        86400       ; Minimum TTL
)

@       IN  NS      {{ inventory_hostname }}.{{ dns_domain }}.
{% set last_octet = ansible_host.split('.')[-1] %}
{{ last_octet }}    IN  PTR     {{ inventory_hostname }}.{{ dns_domain }}.