Hardware Information Report
===========================
Date and Time: {{ ansible_date_time.date }} {{ ansible_date_time.time }}
System:
    Architecture: {{ ansible_architecture }}
    Family: {{ ansible_os_family }}
    Distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}
    Package Manager: {{ ansible_pkg_mgr }}
    Virtualization Role: {{ ansible_virtualization_role }}
    Virtualization Type: {{ ansible_virtualization_type }}
    FIPS: {{ ansible_fips }}
    SELinux: {{ ansible_selinux_python_present }}
    SELinux Status: {{ ansible_selinux.status }}
    Hostname: {{ ansible_hostname }}
    FQDN: {{ ansible_fqdn }}
    NIC Interface: {{ ansible_default_ipv4.interface }}
    IP Address: {{ ansible_default_ipv4.address }}
    MAC Address: {{ ansible_default_ipv4.macaddress }}
    Gateway: {{ ansible_default_ipv4.gateway }}
    Subnet: {{ ansible_default_ipv4.netmask }}
    DNS Domain: {{ ansible_dns.nameservers }}
    Python Path: {{ ansible_python.executable }}
    Python Version: {{ ansible_python_version }}