[Unit]
Description={{ service_name }}
After=network.target
{{ service_after }}

[Service]
ExecStart=/bin/sh -c 'cd {{ service_working_directory }} && {{ service_executable }}'
ExecStop=/bin/sh -c 'cd {{ service_working_directory }} && {{ service_stop_command }}'
Restart=always
User={{ service_user }}
Group={{ service_group }}
Environment=PATH=/usr/bin:/usr/local/bin:/snap/bin
WorkingDirectory={{ service_working_directory }}

[Install]
WantedBy=multi-user.target
