APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
APT::Periodic::Download-Upgradeable-Packages "1";
APT::Periodic::AutocleanInterval "7";

// Run updates every Monday at 2:00 AM
APT::Periodic::Unattended-Upgrade-Schedule "Mon 02:00";
