Speedtest Report
================
Test Date: {{ ansible_date_time.date }} {{ ansible_date_time.time }}
ISP: {{ output.stdout_lines[1] }}
Server Selected: {{ output.stdout_lines[4] }}
{{ output.stdout_lines[6] }}
{{ output.stdout_lines[8] }}